header {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: #7676d7;
}

.searchInput {
  width: 250px;
  height: 36px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #7676d7;
  padding-left: 10px;
  color: #7676d7;
  font-weight: 500;
}

.searchInput:focus,
.searchInput:hover {
  outline: none;
  border: 1px solid #2525b2;
}

.btnSubmit {
  min-width: 150px;
  height: 36px;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #7676d7;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0 auto;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}

.btnSubmit:focus,
.btnSubmit:hover {
  background-color: #2525b2;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
